{% load static %}
<html>
<head>
    <title>Sorcerer v0.1</title>
    <link rel="stylesheet" type="text/css" href="{% static "sorcerer_ui.css" %}">
</head>
<body>
    <div id="scoreboard">
        <h3>Scoreboard</h3>
        {% include "rest_backend/scoreboard.html" %}

        {% if actualTricks %}
        <div id="actualTricks">
            <h3>Tricks This Round</h3>
            <table>
                <tr>
                    {% for player in scoreboardPlayers %}
                        <th>{{player}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for t in actualTricks %}
                        <td>{{t}}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        {% endif %}
    </div>

    <div id="main">

    <div class="topcorner">
        <button onclick="backend_call('stopgame', {})">Abort Game</button><br />
        <div><b>You are: </b></div> 
        <div>{{thisPlayer}}</div>
        <br>
        <h3>Trump</h3>
        {% if hasTrumpCard %}
            <div class="playingCard {{trump.suit}}Card">{{trump.rank}}</div>
        {% else %}
            <div class="playingCard">{{trump.rank}}</div>
        {% endif %}
    </div>

    <div id="infoBlock">
        <h2>Round {{currentRound}} - {{currentPhase}}</h2>
        
        <div class="gameState">
            {% if playerState == "tricks" %}
                <div>
                    How many tricks do you take 
                    {% if illegalTricks != -1 %}
                        (must not say {{illegalTricks}}) 
                    {% endif %}
                    ?
                </div><br />
                <form class="form-inline" action="">
                    <input type="text" id="count" name="count">
                    <button onclick="backend_call('announcetricks', {'player': this_player, 'n': document.getElementById('count').value})">Submit</button>
                </form>
            {% elif playerState == "play" %}
                Click a hand card to play it.
            {% else %}
                Waiting for {{activePlayer}}.
            {% endif %}
        </div>
        
    </div>

    <div id="table">
        <h3>Table</h3>
        <table>
            <tr>
                {% for p in tablePlayers %}
                    <th>{{p}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for card in tableCards %}
                    <td><div class="playingCard {{card.suit}}Card">{{card.rank}}</div></td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <div id="handcards">
        <h3>Hand Cards</h3>
        {% for card in handCards %}
            {% if playerState == "play" %}
    <a onclick="backend_call('playcard', {'player': this_player, 'card': {{card.full}})">
                <div class="playingCard {{card.suit}}Card">{{card.rank}}</div>
            </a>
            {% else %}
                <div class="playingCard {{card.suit}}Card">{{card.rank}}</div>
            {% endif %}
        {% endfor %}
    </div>

</div>

<div class="bottomcorner">
    Last refresh: {{lastRefresh}}
</div>
    
</body>
</html>